body {
color: 61, 31, 119;
background: 102, 0, 255;
margin: 0px;
}

header {
border-bottom: solid 2px rgb(108, 44, 145);
padding: 20px;
font-size: 32px;
color: rgb(61, 31, 119);
}

section {
background: rgb(102, 0, 255);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
margin-right: 5%;
}
